@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #efefef;
	color: #333;
	font-family: "Meiryo UI", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", roboto, sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1.5px;
	line-height: 1.6;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6;
	margin-bottom: 8px;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: top;
	width: auto;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

form {
	margin: 0;
	padding: 0;
}

form button {
	-webkit-appearance: none;
	background-color: #efa336;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

form button:hover,
form button:focus {
	outline: none;
}

form button:hover {
	opacity: 0.6;
}

form button ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	font-family: inherit;
	font-size: 1em;
	padding: 8px;
	width: 100%;
}

textarea:hover,
textarea:focus {
	outline: none;
}

textarea:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

textarea ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
	background-color: #efa336;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
	outline: none;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	opacity: 0.6;
}

input[type="submit"] ::-moz-focus-inner,
input[type="button"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
}

input[type="radio"] + span::before {
	background: #fff;
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"]:checked + span::after {
	background: #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 8px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
	transition: all 1s ease 0s;
}

input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #707070;
	border-radius: 2px;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	border-bottom: 4px solid #707070;
	border-left: 4px solid #707070;
	content: "";
	display: block;
	height: 15.6px;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 26px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../img/arrow.svg);
	background-position: right 6px center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #707070;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 820px;
}

.colortxt {
	color: #000;
}

.drawer {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 40;
}

#drawer-check {
	display: none;
}

.drawer-toggler {
	background: #da6b64;
	border: none;
	cursor: pointer;
	display: inline-block;
	height: 60px;
	position: relative;
	transition: 0.5s ease-in-out;
	vertical-align: middle;
	width: 60px;
	z-index: 41;
}

.drawer-toggler span {
	background: #fff;
	border-radius: 3px;
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	transition: 0.5s ease-in-out;
	width: 28px;
}

.drawer-toggler span::before,
.drawer-toggler span::after {
	background: #fff;
	border-radius: 3px;
	content: "";
	cursor: pointer;
	display: block;
	height: 100%;
	left: 50%;
	margin: -2px 0 0 -50%;
	position: absolute;
	top: 50%;
	transform: rotate(0);
	transition: 0.5s ease-in-out;
	width: 100%;
}

.drawer-toggler span::before {
	margin-top: -10px;
	transform: rotate(0);
}

.drawer-toggler span::after {
	margin-top: 6px;
	transform: rotate(0);
}

.drawer-toggler.m_checked span {
	background: rgba(255, 255, 255, 0);
}

.drawer-toggler.m_checked span::before,
.drawer-toggler.m_checked span::after {
	background: #fff;
	border-radius: 3px;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	width: 28px;
}

.drawer-toggler.m_checked span::before {
	transform: rotate(-45deg);
}

.drawer-toggler.m_checked span::after {
	transform: rotate(45deg);
}

.drawer-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
	width: 100%;
	z-index: 39;
}

.drawer-close.m_checked {
	display: block;
	opacity: 0.4;
}

.drawer-contents {
	background: #fff;
	height: 100%;
	max-width: 90%;
	overflow: auto;
	padding-top: 60px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: 0.5s ease-in-out;
	width: 250px;
	z-index: 40;
}

.drawer-contents .drawer-ttl {
	font-size: 1em;
	font-weight: 700;
	padding: 0 34px;
	text-align: center;
}

.drawer-contents.m_checked {
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.drawer-nav li a {
	border-left: 6px solid transparent;
	color: #333;
	display: block;
	font-size: 16px;
	padding: 16px;
	text-decoration: none;
}

.float {
	background-color: #ececec;
	bottom: 1rem;
	opacity: 0;
	position: fixed;
	right: 30px;
	transition: opacity 0.3s ease-in-out;
	z-index: 99;
}

.float.reveal {
	opacity: 1;
}

button.toTop {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

button.toTop i.fa-chevron-up {
	font-size: 30px;
	padding: 20px;
}

.form-outer {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.form-outer input,
.form-outer textarea {
	border: none;
	border-radius: 8px;
	padding: 10px;
}

.form-outer input {
	height: 55px;
}

.form-outer textarea {
	height: 100px;
}

.submit-btn {
	background-color: #da6b64;
	border-radius: 50px;
	font-size: 23px;
	font-weight: bold;
	height: 55px;
	letter-spacing: 10px;
	width: 100%;
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
	-webkit-animation-delay: 0s, .3s;
	-webkit-animation-direction: normal, alternate;
	-webkit-animation-duration: .3s, 1.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1, infinite;
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-delay: 0s, .3s;
	animation-direction: normal, alternate;
	animation-duration: .3s, 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1, infinite;
	animation-name: hvr-bob-float, hvr-bob;
	animation-timing-function: ease-out, ease-in-out;
}

#modal-checkbox {
	display: none;
}

.modal-open {
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.modal-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease-in-out 0s;
	width: 100%;
	z-index: 99;
}

.modal-content {
	background: #fff;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
	left: 50%;
	opacity: 0;
	overflow: auto;
	padding: 1em;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out 0s;
	z-index: 100;
}

#modal-checkbox:checked ~ .modal-content {
	opacity: 1;
}

#modal-checkbox:checked ~ .modal-close {
	display: block;
	opacity: 0.6;
}

.panel {
	background-color: #ddd;
	position: relative;
}

.panel-heading {
	cursor: pointer;
	display: block;
	padding: 10px 15px;
}

.panel-heading::after {
	border-bottom: 3px solid #000;
	border-right: 3px solid #000;
	content: '';
	display: inline-block;
	height: 12px;
	margin: 6px 0;
	position: absolute;
	right: 20px;
	transform: rotate(45deg);
	width: 12px;
	z-index: 2;
}

.panel-heading.expanded::after {
	transform: rotate(-135deg);
}

.panel-collapse {
	display: none;
	text-align: left;
	width: 100%;
}

.panel-collapse li a {
	display: block;
	width: 100%;
}

.brsp {
	display: none;
}

.brpc {
	display: none;
}

.txtxs {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
}

.txts {
	font-size: 16px;
	font-weight: 600;
}

.txtm,
.ttlm {
	font-size: 20px;
	font-weight: 600;
}

.ttlm {
	margin-bottom: 10px;
	margin-top: 12px;
}

.txtl,
.ttll {
	font-size: 28px;
	font-weight: 600;
}

.ttll {
	margin-bottom: 48px;
}

.underline {
	background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.gfooter-contents {
	background-color: #4F4C4D;
	color: #fff;
	padding-bottom: 48px;
	padding-top: 48px;
}

.gfooter-contents a {
	text-decoration: none;
}

.f-menu.inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.f-menu.inner dl {
	margin-bottom: 1rem;
}

.f-menu.inner dt {
	font-size: 0.73rem;
}

.f-menu.inner .f-grid-bx {
	display: grid;
	gap: 0.7rem 3rem;
}

.gfooter-bottom {
	background-color: #fff;
	color: #fff;
	padding-bottom: 32px;
	padding-top: 32px;
}

.gfooter-bottom > .inner {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.gfooter-bottom p.copy {
	color: #969696;
}

.gfooter-bottom p.copy small {
	font-size: inherit;
}

.gheader {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.gheader > .inner {
	align-items: center;
	display: flex;
	height: 80px;
	justify-content: flex-start;
	min-width: 1286px;
	padding: 0 16px;
}

.header-logo {
	margin-bottom: 0;
	margin-right: auto;
	text-decoration: none;
}

.header-logo a {
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.header-logo a:hover {
	opacity: 0.6;
}

.header-logo a img {
	width: 200px;
}

.header-nav {
	margin-right: 20px;
	width: 70%;
}

.header-nav ul {
	align-items: center;
	display: flex;
	font-size: 0;
	justify-content: space-evenly;
}

.header-nav li {
	margin-right: 16px;
}

.header-nav li:last-child {
	margin-right: 0;
}

.header-nav li > a {
	color: #333;
	display: block;
	font-size: 16px;
	padding: .5rem;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
	opacity: 0.6;
}

button.header-btn {
	background-color: #da6b64;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 11px 40px;
}

.mv {
	height: 500px;
	margin-top: 80px;
	padding-bottom: 40px;
	padding-top: 40px;
}

.mv > .inner {
	text-align: center;
}

.slider-img {
	width: 100%;
}

.slider-img.sp {
	display: none;
}

@media screen and (min-width: 820px) {

.brpc {
	display: block;
}

}

@media screen and (max-width: 1285px) {

.drawer {
	display: block;
}

.gheader {
	display: none;
}

}

@media screen and (max-width: 819px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

.txtxs {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0;
}

.txts {
	font-size: 14px;
	font-weight: 600;
}

.txtm,
.ttlm {
	font-size: 16px;
	font-weight: 600;
}

.txtl,
.ttll {
	font-size: 24px;
	font-weight: 600;
}

}

@media screen and (max-width: 620px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media screen and (max-width: 420px) {

.inner {
	padding-left: 16px;
	padding-right: 16px;
}

.float {
	right: 10px;
}

button.toTop i.fa-chevron-up {
	font-size: 15px;
	padding: 15px;
}

.form-outer {
	width: 100%;
}

.brsp {
	display: block;
}

.txtxs {
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 0;
}

.txts {
	font-size: 12px;
	font-weight: 600;
}

.txtm,
.ttlm {
	font-size: 15px;
	font-weight: 600;
}

.ttlm {
	margin-bottom: 8px;
	margin-top: 10px;
}

.txtl,
.ttll {
	font-size: 18px;
	font-weight: 600;
}

.ttll {
	margin-bottom: 40px;
}

.gheader {
	height: 60px;
}

.header-nav {
	display: none;
}

.mv {
	height: 400px;
	margin-top: 60px;
}

.slider-img.pc {
	display: none;
}

.slider-img.sp {
	display: block;
}

}

@-webkit-keyframes hvr-bob-float {

100% {
	transform: translateY(-8px);
}

}

@keyframes hvr-bob-float {

100% {
	transform: translateY(-8px);
}

}

@-webkit-keyframes hvr-bob {

0% {
	transform: translateY(-8px);
}

50% {
	transform: translateY(-4px);
}

100% {
	transform: translateY(-8px);
}

}

@keyframes hvr-bob {

0% {
	transform: translateY(-8px);
}

50% {
	transform: translateY(-4px);
}

100% {
	transform: translateY(-8px);
}

}

