body {
  font-family: $ff-base;
	font-size: $fz-base;
	font-weight: $fw-base;
	color: $cr-txt;
	line-height: $lh-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $cr-bg;
	overflow-x: hidden;
}

a {
	color: inherit;
	outline: none;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}
