// メディアクエリー
@mixin mq($breakpoint: sp) {

	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

// float 解除
@mixin clearfix {

	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

// ul, olの初期化
@mixin linit {
	list-style: none;
	padding: 0;
	margin: 0;
}

// 割り算
@function division($size, $size2) {

	@return $size / $size2;
}

// fontawesome 適用　
@mixin f-awesome($content) {
	content: $content;
	font-family: $ff-awesome;
	font-weight: 900;
}

@mixin flex-container($jc: space-around, $col-bp: null) {
	display: flex;
	justify-content: $jc;
	align-items: center;

	@if $col-bp != null {
		@include mq($col-bp) {
		  flex-direction: column;
		}
	}
}

@mixin basebox($pt: 50px, $pb: 50px) {
	padding: {
		top: $pt;
		bottom: $pb;
	}
}