$float-bc: #ececec;

.float {
  position: fixed;
  bottom: 1rem;
  right: 30px;
  z-index: map-get($map: $layer, $key: "float");
  background-color: $float-bc;

  a {

  }
}

button.toTop {
  border: none;
  padding-right: 0;
  padding-left: 0;

}