
$bc-panel: #ddd;

.panel {
  position: relative;
  background-color: $bc-panel;
}

.panel-heading {
  padding: 10px 15px;
  display: block;
  cursor: pointer;

  &::after {
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    position: absolute;
    right: 20px;
    // top: 10%;
    margin: 6px 0;
    transform: rotate(45deg);
    z-index: 2;
  }

  &.expanded::after {
    transform: rotate(-135deg);
  }
}

.panel-collapse {
  width: 100%;
  display: none;
  text-align: left;

  li a {
    display: block;
    width: 100%;
  }
}

// .panel-collapse {
//   position: absolute;
//   top: 40px;
//   width: 100%;
//   background-color: #fff;
//   visibility: hidden;
// 	opacity: 0;
// 	z-index: 1;

//   li {
//     font-size: 0.8em;

//     &:hover {
//       background-color: #ddd;
//     }
//   }

//   &.show {
//     position: relative;
//     top: 0;
//     visibility: visible;
//     opacity: 1;
//   }
// }