
$cr-header-bg_wh: #fff;
$cr-header-bg_dr: #3e3d3d;
$logo-width: 200px;

.g-header {
	position: fixed;
	width: 100%;
	background: $cr-header-bg_wh;
	top: 0;
	left: 0;
	box-shadow: 0 1px 3px rgba(#000, 0.16);
	z-index: map-get($layer, "header");

	.inner {
		@include flex-container(space-around);
		padding: 0 16px;
	}

	> .inner {
		justify-content: flex-start;
		height: $header-height;
		min-width: $layout-width-header-inner;
	}

	@include mq("tab-head") {
		display: none;
	}
}

.header-logo {
	margin-right: auto;

	a {
		transition: all 0.3s ease 0s;
		display: block;

		&:hover {
			opacity: $opacity;
		}

		img {
			width: $logo-width;
		}
	}
}

.header-nav {
	width: 80%;

	@include mq("sp") {
		display: none;
	}

	ul {
		font-size: 0;
		@include flex-container();
	}

	li {
		display: inline-block;
		margin-right: 16px;

		&:last-child {
			margin-right: 0;
		}

		> a {
			text-decoration: none;
			color: $cr-txt;
			display: block;
			font-size: 16px;
			transition: all 0.3s ease 0s;
			padding: .5rem;

			&:hover {
				opacity: $opacity;
			}
		}
	}
}
